location /{{name}}/ {

    proxy_set_header        Host $host;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        X-Forwarded-Proto $scheme;

    proxy_pass          http://localhost:{{port}};
    proxy_read_timeout  90;
    rewrite /{{name}}/(.*) /$1 break;
#      proxy_redirect      http://localhost:8880 https://repo.floricaninfosoft.com:2096;
}